/* THEME DARK */
.html[data-theme="dark"] .body,
.html[data-theme="dark"] .header,
.html[data-theme="dark"] .fancybox-content {
	background: #444;
}

.html[data-theme="dark"],
.html[data-theme="dark"] h1,
.html[data-theme="dark"] .h1,
.html[data-theme="dark"] h2,
.html[data-theme="dark"] .h2,
.html[data-theme="dark"] h3,
.html[data-theme="dark"] .h3,
.html[data-theme="dark"] h4,
.html[data-theme="dark"] .h4,
.html[data-theme="dark"] a,
.html[data-theme="dark"] a:hover,
.html[data-theme="dark"] .input,
.html[data-theme="dark"] .logo-title,
.html[data-theme="dark"] .logo-description,
.html[data-theme="dark"] .header-menu-link,
.html[data-theme="dark"] .header-menu-item:hover .header-menu-link,
.html[data-theme="dark"] .header-dropdown-link,
.html[data-theme="dark"] .header-dropdown-link:hover,
.html[data-theme="dark"] .search-input,
.html[data-theme="dark"] .header-main-contact,
.html[data-theme="dark"] .header-contacts-text,
.html[data-theme="dark"] .header-contact,
.html[data-theme="dark"] .header-contact .header-menu-icon,
.html[data-theme="dark"] .header-contacts-tilte,
.html[data-theme="dark"] .socials-icon,
.html[data-theme="dark"] .button,
.html[data-theme="dark"] .field-label,
.html[data-theme="dark"] .main-menu-link
.html[data-theme="dark"] .menu-simple-link,
.html[data-theme="dark"] .menu-simple .main-menu-link,
.html[data-theme="dark"] .mob-list-link,
.html[data-theme="dark"] .mob-list-icon,
.html[data-theme="dark"] .mob-list-link_back,
.html[data-theme="dark"] .mob-list-current,
.html[data-theme="dark"] .mob-list-child-link,
.html[data-theme="dark"] .mob-info,
.html[data-theme="dark"] .footer-menu-link,
.html[data-theme="dark"] .footer-title,
.html[data-theme="dark"] .footer-phone a,
.html[data-theme="dark"] .footer-email a,
.html[data-theme="dark"] .footer-address span,
.html[data-theme="dark"] .footer-email .footer-menu-icon,
.html[data-theme="dark"] .footer-address .footer-menu-icon,
.html[data-theme="dark"] .footer-bottom,
.html[data-theme="dark"] .main-banner-description,
.html[data-theme="dark"] .main-banner-info,
.html[data-theme="dark"] .owl-dot.active .owl-dot-button,
.html[data-theme="dark"] .owl-dot-button:hover,
.html[data-theme="dark"] .owl-button:hover,
.html[data-theme="dark"] .fast-links-description,
.html[data-theme="dark"] .fast-links-item-title,
.html[data-theme="dark"] .news-list-item__title,
.html[data-theme="dark"] .news-list-item__date,
.html[data-theme="dark"] .news-list-item__link,
.html[data-theme="dark"] .partners-title,
.html[data-theme="dark"] .partners-name,
.html[data-theme="dark"] .breadcrumbs-item,
.html[data-theme="dark"] .breadcrumbs-link,
.html[data-theme="dark"] .breadcrumbs-icon,
.html[data-theme="dark"] .breadcrumbs-item_more .breadcrumbs-link,
.html[data-theme="dark"] .news-section-item__title,
.html[data-theme="dark"] .news-section-item__date,
.html[data-theme="dark"] .news-section-item__link,
.html[data-theme="dark"] .load-more-switcher,
.html[data-theme="dark"] .load-more-icon,
.html[data-theme="dark"] .pager-link,
.html[data-theme="dark"] .pager-icon,
.html[data-theme="dark"] .pager-item_active .pager-link,
.html[data-theme="dark"] .pager-link_side:hover .pager-icon,
.html[data-theme="dark"] .news-detail__date,
.html[data-theme="dark"] .contacts-icon .icon,
.html[data-theme="dark"] .search-page-title,
.html[data-theme="dark"] .badeye-title,
.html[data-theme="dark"] .badeye-control,
.html[data-theme="dark"] .badeye-control:hover
{
	color: #fff;
}

.html[data-theme="dark"] .mob-menu-icon,
.html[data-theme="dark"] .close-icon
{
	fill: #fff;
}

.html[data-theme="dark"] .main-menu-link:hover,
.html[data-theme="dark"] .owl-dot-button,
.html[data-theme="dark"] .gallery .owl-dot-button
{
	color: #aaa;
}

.html[data-theme="dark"] .main-banner,
.html[data-theme="dark"] .header
{
	border-bottom: 1px solid;
}

.html[data-theme="dark"] .pager-item_active .pager-link {
	border: 2px solid;
}

.html[data-theme="dark"] hr
.html[data-theme="dark"] input:focus,
.html[data-theme="dark"] textarea:focus,
.html[data-theme="dark"] .input,
.html[data-theme="dark"] .header-panel-item,
.html[data-theme="dark"] .search-container,
.html[data-theme="dark"] .search-button,
.html[data-theme="dark"] .socials-link,
.html[data-theme="dark"] .button,
.html[data-theme="dark"] .header-panel,
.html[data-theme="dark"] .menu-simple .menu-simple-list,
.html[data-theme="dark"] .menu-simple-item,
.html[data-theme="dark"] .menu-simple .main-menu-item,
.html[data-theme="dark"] .mob-block,
.html[data-theme="dark"] .mob-close-panel,
.html[data-theme="dark"] .mob-list-item,
.html[data-theme="dark"] .mob-list-link_back,
.html[data-theme="dark"] .mob-list-current,
.html[data-theme="dark"] .mob-info,
.html[data-theme="dark"] .footer,
.html[data-theme="dark"] .footer-body,
.html[data-theme="dark"] .footer-email,
.html[data-theme="dark"] .main-banner,
.html[data-theme="dark"] .section-border,
.html[data-theme="dark"] .fast-links-item,
.html[data-theme="dark"] .news-list-item,
.html[data-theme="dark"] .partners-body,
.html[data-theme="dark"] .header,
.html[data-theme="dark"] .news-section-item,
.html[data-theme="dark"] .pager-link_side,
.html[data-theme="dark"] .badeye-control
{
	border-color: #666;
}

.html[data-theme="dark"] .owl-dot-button:hover,
.html[data-theme="dark"] .owl-button:hover,
.html[data-theme="dark"] .pager-link_side:hover,
.html[data-theme="dark"] .badeye-control.is-active
{
	border-color: #fff;
}

.html[data-theme="dark"] .pager-link_side:hover,
.html[data-theme="dark"] .pager-item_active .pager-link {
	background: none;
}

.html[data-theme="dark"] .main-menu-item-homepage::before
{
	background-color: #666;
}

.html[data-theme="dark"] ::placeholder,
.html[data-theme="dark"] ::-webkit-input-placeholder,
.html[data-theme="dark"] :-moz-placeholder,
.html[data-theme="dark"] ::-moz-placeholder,
.html[data-theme="dark"] :-ms-input-placeholder
{
	color: #999;
}

.html[data-theme="dark"] .header-top,
.html[data-theme="dark"] .header-dropdown-menu,
.html[data-theme="dark"] .search-container,
.html[data-theme="dark"] .header-contacts-list,
.html[data-theme="dark"] .menu-simple,
.html[data-theme="dark"] .mob-block,
.html[data-theme="dark"] .mob-close-panel,
.html[data-theme="dark"] .mob-list-main-mobile,
.html[data-theme="dark"] .mob-child,
.html[data-theme="dark"] .mob-list-link_back,
.html[data-theme="dark"] .main-banner,
.html[data-theme="dark"] .fast-links-item,
.html[data-theme="dark"] .news-list-item,
.html[data-theme="dark"] .partners-body,
.html[data-theme="dark"] .news-section-item
{
	background-color: #333;
}

.html[data-theme="dark"] .header-menu-item:hover .header-menu-link,
.html[data-theme="dark"] .header-dropdown-link:hover,
.html[data-theme="dark"] .menu-simple-link:hover,
.html[data-theme="dark"] .menu-simple .main-menu-link:hover,
.html[data-theme="dark"] .mob-list-current
{
	background-color: #555;
}

.html[data-theme="dark"] .header-menu-link,
.html[data-theme="dark"] .header-dropdown-menu,
.html[data-theme="dark"] .header-dropdown-list,
.html[data-theme="dark"] .header-dropdown-item,
.html[data-theme="dark"] .header-contacts-list,
.html[data-theme="dark"] .header-contact,
.html[data-theme="dark"] .owl-button,
.html[data-theme="dark"] .gallery .owl-button
{
	border-color: #aaa;
}

.html[data-theme="dark"] .owl-dot:after {
	background-color: #aaa;
}

.html[data-theme="dark"] .header-dropdown-list
{
	border-top: none;
}

.html[data-theme="dark"] .header-dropdown-list,
.html[data-theme="dark"] .search-button,
.html[data-theme="dark"] .header-contacts-list,
.html[data-theme="dark"] .socials-link,
.html[data-theme="dark"] .button
{
	border-width: 1px;
	border-style: solid;
}

.html[data-theme="dark"] .search-button,
.html[data-theme="dark"] .socials-link,
.html[data-theme="dark"] .button,
.html[data-theme="dark"] .switch-checkbox:checked + .switch-decor
{
	background-color: #333;
}

.html[data-theme="dark"] .search-button:hover,
.html[data-theme="dark"] .socials-link:hover,
.html[data-theme="dark"] .button:hover
{
	background-color: #444;
}

.html[data-theme="dark"] .switch-decor
{
	background-color: #666;
}

.html[data-theme="dark"] .bg-section,
.html[data-theme="dark"] .partners-section
{
	background: linear-gradient(180deg, #555 0%, #333 100%);
}



/* THEME DARK */
.html[data-theme="light"] .body,
.html[data-theme="light"] .header,
.html[data-theme="light"] .fancybox-content {
	background: #fff;
}

.html[data-theme="light"],
.html[data-theme="light"] h1,
.html[data-theme="light"] .h1,
.html[data-theme="light"] h2,
.html[data-theme="light"] .h2,
.html[data-theme="light"] h3,
.html[data-theme="light"] .h3,
.html[data-theme="light"] h4,
.html[data-theme="light"] .h4,
.html[data-theme="light"] a,
.html[data-theme="light"] a:hover,
.html[data-theme="light"] .input,
.html[data-theme="light"] .logo-title,
.html[data-theme="light"] .logo-description,
.html[data-theme="light"] .header-menu-link,
.html[data-theme="light"] .header-menu-item:hover .header-menu-link,
.html[data-theme="light"] .header-dropdown-link,
.html[data-theme="light"] .header-dropdown-link:hover,
.html[data-theme="light"] .search-input,
.html[data-theme="light"] .header-main-contact,
.html[data-theme="light"] .header-contacts-text,
.html[data-theme="light"] .header-contact,
.html[data-theme="light"] .header-contact .header-menu-icon,
.html[data-theme="light"] .header-contacts-tilte,
.html[data-theme="light"] .socials-icon,
.html[data-theme="light"] .button,
.html[data-theme="light"] .field-label,
.html[data-theme="light"] .main-menu-link
.html[data-theme="light"] .menu-simple-link,
.html[data-theme="light"] .menu-simple .main-menu-link,
.html[data-theme="light"] .mob-list-link,
.html[data-theme="light"] .mob-list-icon,
.html[data-theme="light"] .mob-list-link_back,
.html[data-theme="light"] .mob-list-current,
.html[data-theme="light"] .mob-list-child-link,
.html[data-theme="light"] .mob-info,
.html[data-theme="light"] .footer-menu-link,
.html[data-theme="light"] .footer-title,
.html[data-theme="light"] .footer-phone a,
.html[data-theme="light"] .footer-email a,
.html[data-theme="light"] .footer-address span,
.html[data-theme="light"] .footer-email .footer-menu-icon,
.html[data-theme="light"] .footer-address .footer-menu-icon,
.html[data-theme="light"] .footer-bottom,
.html[data-theme="light"] .main-banner-description,
.html[data-theme="light"] .main-banner-info,
.html[data-theme="light"] .owl-dot.active .owl-dot-button,
.html[data-theme="light"] .owl-dot-button:hover,
.html[data-theme="light"] .owl-button:hover,
.html[data-theme="light"] .fast-links-description,
.html[data-theme="light"] .fast-links-item-title,
.html[data-theme="light"] .news-list-item__title,
.html[data-theme="light"] .news-list-item__date,
.html[data-theme="light"] .news-list-item__link,
.html[data-theme="light"] .partners-title,
.html[data-theme="light"] .partners-name,
.html[data-theme="light"] .breadcrumbs-item,
.html[data-theme="light"] .breadcrumbs-link,
.html[data-theme="light"] .breadcrumbs-icon,
.html[data-theme="light"] .breadcrumbs-item_more .breadcrumbs-link,
.html[data-theme="light"] .news-section-item__title,
.html[data-theme="light"] .news-section-item__date,
.html[data-theme="light"] .news-section-item__link,
.html[data-theme="light"] .load-more-switcher,
.html[data-theme="light"] .load-more-icon,
.html[data-theme="light"] .pager-link,
.html[data-theme="light"] .pager-icon,
.html[data-theme="light"] .pager-item_active .pager-link,
.html[data-theme="light"] .pager-link_side:hover .pager-icon,
.html[data-theme="light"] .news-detail__date,
.html[data-theme="light"] .contacts-icon .icon,
.html[data-theme="light"] .search-page-title,
.html[data-theme="light"] .badeye-title,
.html[data-theme="light"] .badeye-control,
.html[data-theme="light"] .badeye-control:hover,
.html[data-theme="light"] .search-button,
.html[data-theme="light"] .owl-button
{
	color: #000;
}

.html[data-theme="light"] .mob-menu-icon,
.html[data-theme="light"] .close-icon
{
	fill: #000;
}

.html[data-theme="light"] .main-menu-link:hover,
.html[data-theme="light"] .owl-dot-button,
.html[data-theme="light"] .gallery .owl-dot-button
{
	color: #222;
}

.html[data-theme="light"] .main-banner,
.html[data-theme="light"] .header,
.html[data-theme="light"] .header-top,
.html[data-theme="light"] .badeye
{
	border-bottom: 1px solid;
}

.html[data-theme="light"] .pager-item_active .pager-link {
	border: 2px solid;
}

.html[data-theme="light"] hr
.html[data-theme="light"] input:focus,
.html[data-theme="light"] textarea:focus,
.html[data-theme="light"] .input,
.html[data-theme="light"] .header-panel-item,
.html[data-theme="light"] .search-container,
.html[data-theme="light"] .search-button,
.html[data-theme="light"] .socials-link,
.html[data-theme="light"] .button,
.html[data-theme="light"] .header-panel,
.html[data-theme="light"] .menu-simple .menu-simple-list,
.html[data-theme="light"] .menu-simple-item,
.html[data-theme="light"] .menu-simple .main-menu-item,
.html[data-theme="light"] .mob-block,
.html[data-theme="light"] .mob-close-panel,
.html[data-theme="light"] .mob-list-item,
.html[data-theme="light"] .mob-list-link_back,
.html[data-theme="light"] .mob-list-current,
.html[data-theme="light"] .mob-info,
.html[data-theme="light"] .footer,
.html[data-theme="light"] .footer-body,
.html[data-theme="light"] .footer-email,
.html[data-theme="light"] .main-banner,
.html[data-theme="light"] .section-border,
.html[data-theme="light"] .fast-links-item,
.html[data-theme="light"] .news-list-item,
.html[data-theme="light"] .partners-body,
.html[data-theme="light"] .header,
.html[data-theme="light"] .news-section-item,
.html[data-theme="light"] .pager-link_side,
.html[data-theme="light"] .badeye-control,
.html[data-theme="light"] .header-top,
.html[data-theme="light"] .header-menu-link,
.html[data-theme="light"] .header-dropdown-menu,
.html[data-theme="light"] .header-dropdown-list,
.html[data-theme="light"] .header-dropdown-item,
.html[data-theme="light"] .header-contacts-list,
.html[data-theme="light"] .header-contact,
.html[data-theme="light"] .header-dropdown-list,
.html[data-theme="light"] .badeye
{
	border-color: #aaa;
}

.html[data-theme="light"] .owl-dot-button:hover,
.html[data-theme="light"] .owl-button:hover,
.html[data-theme="light"] .pager-link_side:hover,
.html[data-theme="light"] .badeye-control.is-active
{
	border-color: #000;
}

.html[data-theme="light"] .pager-link_side:hover,
.html[data-theme="light"] .pager-item_active .pager-link {
	background: none;
}

.html[data-theme="light"] .main-menu-item-homepage::before
{
	background-color: #aaa;
}

.html[data-theme="light"] ::placeholder,
.html[data-theme="light"] ::-webkit-input-placeholder,
.html[data-theme="light"] :-moz-placeholder,
.html[data-theme="light"] ::-moz-placeholder,
.html[data-theme="light"] :-ms-input-placeholder
{
	color: #666;
}

.html[data-theme="light"] .header-top,
.html[data-theme="light"] .header-dropdown-menu,
.html[data-theme="light"] .search-container,
.html[data-theme="light"] .header-contacts-list,
.html[data-theme="light"] .menu-simple,
.html[data-theme="light"] .mob-block,
.html[data-theme="light"] .mob-close-panel,
.html[data-theme="light"] .mob-list-main-mobile,
.html[data-theme="light"] .mob-child,
.html[data-theme="light"] .mob-list-link_back,
.html[data-theme="light"] .main-banner,
.html[data-theme="light"] .fast-links-item,
.html[data-theme="light"] .news-list-item,
.html[data-theme="light"] .partners-body,
.html[data-theme="light"] .news-section-item
{
	background-color: #fff;
}

.html[data-theme="light"] .header-menu-item:hover .header-menu-link,
.html[data-theme="light"] .header-dropdown-link:hover,
.html[data-theme="light"] .menu-simple-link:hover,
.html[data-theme="light"] .menu-simple .main-menu-link:hover,
.html[data-theme="light"] .mob-list-current
{
	background-color: #aaa;
}

.html[data-theme="light"] .owl-button,
.html[data-theme="light"] .gallery .owl-button
{
	border-color: #222;
}

.html[data-theme="light"] .owl-dot:after {
	background-color: #222;
}

.html[data-theme="light"] .header-dropdown-list,
.html[data-theme="light"] .search-button,
.html[data-theme="light"] .header-contacts-list,
.html[data-theme="light"] .socials-link,
.html[data-theme="light"] .button
{
	border-width: 1px;
	border-style: solid;
}

.html[data-theme="light"] .header-dropdown-list
{
	border-top: none;
}

.html[data-theme="light"] .search-button,
.html[data-theme="light"] .socials-link,
.html[data-theme="light"] .button,
.html[data-theme="light"] .switch-checkbox:checked + .switch-decor
{
	background-color: #aaa;
}

.html[data-theme="light"] .search-button:hover,
.html[data-theme="light"] .socials-link:hover,
.html[data-theme="light"] .button:hover
{
	background-color: #bbb;
}

.html[data-theme="light"] .switch-decor
{
	background-color: #999;
}

.html[data-theme="light"] .bg-section,
.html[data-theme="light"] .partners-section
{
	background: linear-gradient(180deg, #fff 0%, #f1f1f1 100%);
}




/* FONT SIZE SMALL */
.html[data-font-size="small"]
{
	font-size: 14px;
}

.html[data-font-size="small"] .header-top
{
    min-height: 38px;
}


/* FONT SIZE BIG */
.html[data-font-size="big"]
{
	font-size: 18px;
}


/* IMAGES BLACK WHITE */
.html[data-images="bw"] img,
.html[data-images="bw"] .icon {
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.html[data-images="bw"] .main-banner-item,
.html[data-images="bw"] .partners-section {
	background-image: none !important;
}


/* IMAGES NONE */
.html[data-images="none"] img,
.html[data-images="none"] .icon {
	opacity: 0;
}

.html[data-images="none"] .main-banner-item,
.html[data-images="none"] .partners-section {
	background-image: none !important;
}