.body[data-theme="dark"],
.body[data-theme="dark"] .header,
.body[data-theme="dark"] .fancybox-content {
	background: #444;
}

.body[data-theme="dark"],
.body[data-theme="dark"] h1,
.body[data-theme="dark"] .h1,
.body[data-theme="dark"] h2,
.body[data-theme="dark"] .h2,
.body[data-theme="dark"] h3,
.body[data-theme="dark"] .h3,
.body[data-theme="dark"] h4,
.body[data-theme="dark"] .h4,
.body[data-theme="dark"] a,
.body[data-theme="dark"] a:hover,
.body[data-theme="dark"] .input,
.body[data-theme="dark"] .logo-title,
.body[data-theme="dark"] .logo-description,
.body[data-theme="dark"] .header-menu-link,
.body[data-theme="dark"] .header-menu-item:hover .header-menu-link,
.body[data-theme="dark"] .header-dropdown-link,
.body[data-theme="dark"] .header-dropdown-link:hover,
.body[data-theme="dark"] .search-input,
.body[data-theme="dark"] .header-main-contact,
.body[data-theme="dark"] .header-contacts-text,
.body[data-theme="dark"] .header-contact,
.body[data-theme="dark"] .header-contact .header-menu-icon,
.body[data-theme="dark"] .header-contacts-tilte,
.body[data-theme="dark"] .socials-icon,
.body[data-theme="dark"] .button,
.body[data-theme="dark"] .field-label,
.body[data-theme="dark"] .main-menu-link
.body[data-theme="dark"] .menu-simple-link,
.body[data-theme="dark"] .menu-simple .main-menu-link,
.body[data-theme="dark"] .mob-list-link,
.body[data-theme="dark"] .mob-list-icon,
.body[data-theme="dark"] .mob-list-link_back,
.body[data-theme="dark"] .mob-list-current,
.body[data-theme="dark"] .mob-list-child-link,
.body[data-theme="dark"] .mob-info,
.body[data-theme="dark"] .footer-menu-link,
.body[data-theme="dark"] .footer-title,
.body[data-theme="dark"] .footer-phone a,
.body[data-theme="dark"] .footer-email a,
.body[data-theme="dark"] .footer-address span,
.body[data-theme="dark"] .footer-email .footer-menu-icon,
.body[data-theme="dark"] .footer-address .footer-menu-icon,
.body[data-theme="dark"] .footer-bottom,
.body[data-theme="dark"] .main-banner-description,
.body[data-theme="dark"] .main-banner-info,
.body[data-theme="dark"] .owl-dot.active .owl-dot-button,
.body[data-theme="dark"] .owl-dot-button:hover,
.body[data-theme="dark"] .owl-button:hover,
.body[data-theme="dark"] .fast-links-description,
.body[data-theme="dark"] .fast-links-item-title,
.body[data-theme="dark"] .news-list-item__title,
.body[data-theme="dark"] .news-list-item__date,
.body[data-theme="dark"] .news-list-item__link,
.body[data-theme="dark"] .partners-title,
.body[data-theme="dark"] .partners-name,
.body[data-theme="dark"] .breadcrumbs-item,
.body[data-theme="dark"] .breadcrumbs-link,
.body[data-theme="dark"] .breadcrumbs-icon,
.body[data-theme="dark"] .breadcrumbs-item_more .breadcrumbs-link,
.body[data-theme="dark"] .news-section-item__title,
.body[data-theme="dark"] .news-section-item__date,
.body[data-theme="dark"] .news-section-item__link,
.body[data-theme="dark"] .load-more-switcher,
.body[data-theme="dark"] .load-more-icon,
.body[data-theme="dark"] .pager-link,
.body[data-theme="dark"] .pager-icon,
.body[data-theme="dark"] .pager-item_active .pager-link,
.body[data-theme="dark"] .pager-link_side:hover .pager-icon
{
	color: #fff;
}

.body[data-theme="dark"] .mob-menu-icon,
.body[data-theme="dark"] .close-icon
{
	fill: #fff;
}

.body[data-theme="dark"] .main-menu-link:hover,
.body[data-theme="dark"] .owl-dot-button,
.body[data-theme="dark"] .gallery .owl-dot-button
{
	color: #aaa;
}

.body[data-theme="dark"] .main-banner,
.body[data-theme="dark"] .header
{
	border-bottom: 1px solid;
}

.body[data-theme="dark"] .pager-item_active .pager-link {
	border: 2px solid;
}

.body[data-theme="dark"] hr
.body[data-theme="dark"] input:focus,
.body[data-theme="dark"] textarea:focus,
.body[data-theme="dark"] .input,
.body[data-theme="dark"] .header-panel-item,
.body[data-theme="dark"] .search-container,
.body[data-theme="dark"] .search-button,
.body[data-theme="dark"] .socials-link,
.body[data-theme="dark"] .button,
.body[data-theme="dark"] .header-panel,
.body[data-theme="dark"] .menu-simple .menu-simple-list,
.body[data-theme="dark"] .menu-simple-item,
.body[data-theme="dark"] .menu-simple .main-menu-item,
.body[data-theme="dark"] .mob-block,
.body[data-theme="dark"] .mob-close-panel,
.body[data-theme="dark"] .mob-list-item,
.body[data-theme="dark"] .mob-list-link_back,
.body[data-theme="dark"] .mob-list-current,
.body[data-theme="dark"] .mob-info,
.body[data-theme="dark"] .footer,
.body[data-theme="dark"] .footer-body,
.body[data-theme="dark"] .footer-email,
.body[data-theme="dark"] .main-banner,
.body[data-theme="dark"] .section-border,
.body[data-theme="dark"] .fast-links-item,
.body[data-theme="dark"] .news-list-item,
.body[data-theme="dark"] .partners-body,
.body[data-theme="dark"] .header,
.body[data-theme="dark"] .news-section-item,
.body[data-theme="dark"] .pager-link_side
{
	border-color: #666;
}

.body[data-theme="dark"] .owl-dot-button:hover,
.body[data-theme="dark"] .owl-button:hover,
.body[data-theme="dark"] .pager-link_side:hover
{
	border-color: #fff;
}

.body[data-theme="dark"] .pager-link_side:hover,
.body[data-theme="dark"] .pager-item_active .pager-link {
	background: none;
}

.body[data-theme="dark"] .main-menu-item-homepage::before
{
	background-color: #666;
}

.body[data-theme="dark"] ::placeholder,
.body[data-theme="dark"] ::-webkit-input-placeholder,
.body[data-theme="dark"] :-moz-placeholder,
.body[data-theme="dark"] ::-moz-placeholder,
.body[data-theme="dark"] :-ms-input-placeholder
{
	color: #999;
}

.body[data-theme="dark"] .header-top,
.body[data-theme="dark"] .header-dropdown-menu,
.body[data-theme="dark"] .search-container,
.body[data-theme="dark"] .header-contacts-list,
.body[data-theme="dark"] .menu-simple,
.body[data-theme="dark"] .mob-block,
.body[data-theme="dark"] .mob-close-panel,
.body[data-theme="dark"] .mob-list-main-mobile,
.body[data-theme="dark"] .mob-child,
.body[data-theme="dark"] .mob-list-link_back,
.body[data-theme="dark"] .main-banner,
.body[data-theme="dark"] .fast-links-item,
.body[data-theme="dark"] .news-list-item,
.body[data-theme="dark"] .partners-body,
.body[data-theme="dark"] .news-section-item
{
	background-color: #333;
}

.body[data-theme="dark"] .header-menu-item:hover .header-menu-link,
.body[data-theme="dark"] .header-dropdown-link:hover,
.body[data-theme="dark"] .menu-simple-link:hover,
.body[data-theme="dark"] .menu-simple .main-menu-link:hover,
.body[data-theme="dark"] .mob-list-current
{
	background-color: #555;
}

.body[data-theme="dark"] .header-menu-link,
.body[data-theme="dark"] .header-dropdown-menu,
.body[data-theme="dark"] .header-dropdown-list,
.body[data-theme="dark"] .header-dropdown-item,
.body[data-theme="dark"] .header-contacts-list,
.body[data-theme="dark"] .header-contact,
.body[data-theme="dark"] .owl-dot:after,
.body[data-theme="dark"] .owl-button,
.body[data-theme="dark"] .gallery .owl-button
{
	border-color: #aaa;
}

.body[data-theme="dark"] .header-dropdown-list
{
	border-top: none;
}

.body[data-theme="dark"] .header-dropdown-list,
.body[data-theme="dark"] .search-button,
.body[data-theme="dark"] .header-contacts-list,
.body[data-theme="dark"] .socials-link,
.body[data-theme="dark"] .button
{
	border-width: 1px;
	border-style: solid;
}

.body[data-theme="dark"] .search-button,
.body[data-theme="dark"] .socials-link,
.body[data-theme="dark"] .button,
.body[data-theme="dark"] .switch-checkbox:checked + .switch-decor
{
	background-color: #333;
}

.body[data-theme="dark"] .search-button:hover,
.body[data-theme="dark"] .socials-link:hover,
.body[data-theme="dark"] .button:hover
{
	background-color: #444;
}

.body[data-theme="dark"] .switch-decor
{
	background-color: #666;
}

.body[data-theme="dark"] .bg-section,
.body[data-theme="dark"] .partners-section
{
	background: linear-gradient(180deg, #555 0%, #333 100%);
}